$plum: #963484;
$dark-blue: #3066be;
$blue: #60afff;
$light-blue: #28c2ff;
$aqua: #2af5ff;

.nfe_subscriber_edit_form__row {
  display: flex;
  align-items: center;
  margin: 12px 0;

  &--centered{
    align-items: center;
    gap: 8px;
  }
}

.nfe_subscriber_edit_form__row label {
  width: 100px;
}
.nfe_subscriber_edit_form__row input {
  width: 300px;
}

.nfe_newsletter_edit-row {
  display: flex;
  margin: 12px 0;

  &--centered{
    align-items: center;
    gap: 8px;
  }
}
.nfe_newsletter_edit-row label {
  width: 100px;
  font-weight: bold;
}
.nfe_newsletter_edit-row input[type="text"],
.nfe_newsletter_edit-row textarea,
.nfe_newsletter_edit-row select {
  width: 100%;
}

.button-send-data {
  background-color: rgba(84, 148, 67, 0.933);
  color: #f0f0f0;
  padding: 10px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
}

.button-clean-data {
  background-color: #f0f0f0;
  color: rgba(84, 148, 67, 0.933);
  padding: 10px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(84, 148, 67, 0.933);
  outline: none;
  cursor: pointer;
}

.nfe_subscriber_edit_form__buttons {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

#subscriber-data .postbox-header {
  background-color: rgba(85, 148, 67, 0.481);
}

/* 
  newsletter forms
  */

#form-data .inside table {
  width: 100%;
}
#form-data .inside table tr td {
  text-align: center;
  min-width: 170px;
}
#form-data .inside table tr td:first-child {
  max-width: 80px;
  width: 80px;
  min-width: unset;
}
#form-data .inside table tr td *:not(input[type="checkbox"]) {
  width: 100%;
}
#form-data td,
#form-data th {
  border: 1px solid #dddddd;
  padding: 8px;
}

// admin settings page

.nfes {
  &__admin {
    &-title {
      padding: 18px 28px;
      background-color: #f0f0f0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      &--row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &-row {
      padding: 18px 28px;

      &--centered{
        align-items: center;
        gap: 8px;
      }
      &__header {
        h2 {
          font-size: 24px;
        }
      }
      &--listing {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $blue;
        border-radius: 4px;
        margin: 12px 0;
        margin-right: 28px;
      }

      &__actions {
        display: flex;
        align-items: center;
        gap: 6px;

        a {
          text-decoration: none;
        }
      }

      & .nfes__export-link {
        display: none;
      }

      &--show-links {
        & .nfes__export-link {
          display: flex;
        }
      }
    }

    &__icon{
      width: 20px;
      height: 20px;
    }
  }

  &__breadcrumbs {
    h1 {
      color: $light-blue;

      & .separator {
        color: $blue;
      }
      & .main {
        color: $dark-blue;
      }
    }
  }

  &__button {
    padding: 8px 32px;
    cursor: pointer;
    transition: all 0.2s;

    &--delete {
      border: 1px solid $plum;
      color: lightgray;
      background-color: orangered;

      &:hover {
        background-color: rgba(orangered, 0.7);
        color: $dark-blue;
      }
    }
    &--success {
      border: 1px solid darkgray;
      color: darkgreen;
      background-color: greenyellow;

      &:hover {
        background-color: rgba(greenyellow, 0.7);
        color: $dark-blue;
      }
    }
    &--info {
      border: 1px solid $blue;
      color: black;
      background-color: $blue;

      &:hover {
        background-color: rgba($blue, 0.7);
        color: $dark-blue;
      }
    }
  }
}

.nfes{
  &_integration{
    &__single{
      .version{
        margin-left: 0.8rem;
        margin-right: 0.8rem;
        border: 1px solid $aqua;
        border-radius: 8px;
        color: $aqua;
        padding: 4px 6px;
      }
      .logotype{
        width: 450px;
        height: 250px;
        object-fit: contain;
      }

      &.disabled{
        .logotype{
          filter: grayscale(1);
          opacity: 0.4;
        }
        .button-when{
          &-disable{
            display: block;
          }
          &-enable{
            display: none;
          }
        }
      }
      .button-when{
        &-disable{
          display: none;
        }
        &-enable{
          display: block;
        }
      }

      .buttons-row{
        display: flex;
        gap: 12px;
        justify-content: flex-end;
      }
      .ratings{
        &-img{
          width: 16px;
          height: 16px;
        }
      }

    }

  }
  &_integrations{
    display: flex;
    gap: 20px;
  }

  &_column{
    &_form{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label{
        width: 200px;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 8px;
        margin-top: 20px;
      }
      input{
        width: 300px;
        height: 40px;

        &[type=submit]{
          margin: 20px 0;
          cursor: pointer;
          background-color: $light-blue;
          color: $plum;
          border: 1px solid $plum;
          border-radius: 4px;
          outline: none;
        }
      }
    }
  }
}
