.nfe_subscriber_edit_form__row {
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.nfe_subscriber_edit_form__row--centered {
  align-items: center;
  gap: 8px;
}

.nfe_subscriber_edit_form__row label {
  width: 100px;
}

.nfe_subscriber_edit_form__row input {
  width: 300px;
}

.nfe_newsletter_edit-row {
  display: flex;
  margin: 12px 0;
}
.nfe_newsletter_edit-row--centered {
  align-items: center;
  gap: 8px;
}

.nfe_newsletter_edit-row label {
  width: 100px;
  font-weight: bold;
}

.nfe_newsletter_edit-row input[type=text],
.nfe_newsletter_edit-row textarea,
.nfe_newsletter_edit-row select {
  width: 100%;
}

.button-send-data {
  background-color: rgba(84, 148, 67, 0.933);
  color: #f0f0f0;
  padding: 10px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
}

.button-clean-data {
  background-color: #f0f0f0;
  color: rgba(84, 148, 67, 0.933);
  padding: 10px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(84, 148, 67, 0.933);
  outline: none;
  cursor: pointer;
}

.nfe_subscriber_edit_form__buttons {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

#subscriber-data .postbox-header {
  background-color: rgba(85, 148, 67, 0.481);
}

/*
  newsletter forms
  */
#form-data .inside table {
  width: 100%;
}

#form-data .inside table tr td {
  text-align: center;
  min-width: 170px;
}

#form-data .inside table tr td:first-child {
  max-width: 80px;
  width: 80px;
  min-width: unset;
}

#form-data .inside table tr td *:not(input[type=checkbox]) {
  width: 100%;
}

#form-data td,
#form-data th {
  border: 1px solid #dddddd;
  padding: 8px;
}

.nfes__admin-title {
  padding: 18px 28px;
  background-color: #f0f0f0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.nfes__admin-title--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nfes__admin-row {
  padding: 18px 28px;
}
.nfes__admin-row--centered {
  align-items: center;
  gap: 8px;
}
.nfes__admin-row__header h2 {
  font-size: 24px;
}
.nfes__admin-row--listing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #60afff;
  border-radius: 4px;
  margin: 12px 0;
  margin-right: 28px;
}
.nfes__admin-row__actions {
  display: flex;
  align-items: center;
  gap: 6px;
}
.nfes__admin-row__actions a {
  text-decoration: none;
}
.nfes__admin-row .nfes__export-link {
  display: none;
}
.nfes__admin-row--show-links .nfes__export-link {
  display: flex;
}
.nfes__admin__icon {
  width: 20px;
  height: 20px;
}
.nfes__breadcrumbs h1 {
  color: #28c2ff;
}
.nfes__breadcrumbs h1 .separator {
  color: #60afff;
}
.nfes__breadcrumbs h1 .main {
  color: #3066be;
}
.nfes__button {
  padding: 8px 32px;
  cursor: pointer;
  transition: all 0.2s;
}
.nfes__button--delete {
  border: 1px solid #963484;
  color: lightgray;
  background-color: orangered;
}
.nfes__button--delete:hover {
  background-color: rgba(255, 69, 0, 0.7);
  color: #3066be;
}
.nfes__button--success {
  border: 1px solid darkgray;
  color: darkgreen;
  background-color: greenyellow;
}
.nfes__button--success:hover {
  background-color: rgba(173, 255, 47, 0.7);
  color: #3066be;
}
.nfes__button--info {
  border: 1px solid #60afff;
  color: black;
  background-color: #60afff;
}
.nfes__button--info:hover {
  background-color: rgba(96, 175, 255, 0.7);
  color: #3066be;
}

.nfes_integration__single .version {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  border: 1px solid #2af5ff;
  border-radius: 8px;
  color: #2af5ff;
  padding: 4px 6px;
}
.nfes_integration__single .logotype {
  width: 450px;
  height: 250px;
  object-fit: contain;
}
.nfes_integration__single.disabled .logotype {
  filter: grayscale(1);
  opacity: 0.4;
}
.nfes_integration__single.disabled .button-when-disable {
  display: block;
}
.nfes_integration__single.disabled .button-when-enable {
  display: none;
}
.nfes_integration__single .button-when-disable {
  display: none;
}
.nfes_integration__single .button-when-enable {
  display: block;
}
.nfes_integration__single .buttons-row {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}
.nfes_integration__single .ratings-img {
  width: 16px;
  height: 16px;
}
.nfes_integrations {
  display: flex;
  gap: 20px;
}
.nfes_column_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nfes_column_form label {
  width: 200px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 20px;
}
.nfes_column_form input {
  width: 300px;
  height: 40px;
}
.nfes_column_form input[type=submit] {
  margin: 20px 0;
  cursor: pointer;
  background-color: #28c2ff;
  color: #963484;
  border: 1px solid #963484;
  border-radius: 4px;
  outline: none;
}

.integration-soon {
  display: inline-flex;
  align-items: center;
  height: 30px;
}

/*# sourceMappingURL=admin-style.css.map */
